<div class="container">
  <div class="alert alert-danger" ng-show="error!=undefined">
    <button type="button" class="close" ng-click="error=undefined"><span>&times;</span>
    </button>
    {{error}}
  </div>
  <navigation></navigation>
  <div class="jumbotron">
    <h1>Scanner Inspection</h1>
    <p class="lead">
      This application scan product for defect's
    </p>
    <p>To start the application goto the <span><a href="#/execute"><strong>Execute</strong></a></span>, to record images head over to the <span><a href="#/record"><strong>Record</strong></a></span> tab</p>
  </div>
</div>
