<div class="container">
  <navigation></navigation>
  <div class="jumbotron">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputDataset" class="col-sm-2 control-label">Dataset</label>
        <div class="col-sm-10">
          <select class="form-control" ng-change="datasetChanged()" ng-model="settings.dataset" ng-options="dataset as dataset.name for dataset in datasets track by dataset.id"></select>
          <small class="pull-left">The dataset used to store the images when recording</small>
        </div>
      </div>
      <div class="form-group">
        <label for="inputModel" class="col-sm-2 control-label">Model</label>
        <div class="col-sm-10">
          <select class="form-control" ng-change="validationModelChanged()" ng-model="settings.validationModel" ng-options="model as model.name for model in models track by model.id"></select>
          <small class="pull-left">The model used to detect the quality</small>
        </div>
      </div>
      <div class="form-group">
        <label for="inputFramesInARow" class="col-sm-2 control-label">Frames in a row</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputFramesInARow" placeholder="Frames" ng-change="framesInARowChanged()" ng-model="settings.framesInARow">
          <small class="pull-left">Required frames in a row for a detection</small>
        </div>
      </div>
      <div class="form-group">
        <label for="inputMeanOfConfidence" class="col-sm-2 control-label">Required mean of confidence</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputMeanOfConfidence" placeholder="Required Mean" ng-change="requiredMeanOfConfidenceChanged()" ng-model="settings.requiredMeanOfConfidence">
          <small class="pull-left">Required mean value of confidence for a detection (0-1.0)</small>
        </div>
      </div>
      <div class="form-group">
        <label for="inputConfidenceForMean" class="col-sm-2 control-label">Required confidence for mean</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputConfidenceForMean" placeholder="Confidence for mean" ng-change="requiredConfidenceForMeanChanged()" ng-model="settings.requiredConfidenceForMean">
          <small class="pull-left">Required threshold confidence to be part of mean value (0-1.0)</small>
        </div>
      </div>
    </form>
  </div>
</div>
